@(page: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>Play Responsive Kamanu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

      <!--  Load site-specific customizations after bootstrap. -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
        <![endif]-->
  </head>
  <body>

      <!-- Responsive navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <!--  Display three horizontal lines when navbar collapsed. -->
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#"><img src="@routes.Assets.at("images/header-logo.jpg")"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index()">Store</a></li>
                <li><a href="@routes.Application.pueo()">Pueo</a></li>
                <li><a href="@routes.Application.aukahi()">Aukahi</a></li>
                <li><a href="@routes.Application.v6()">Kamanu</a></li>
                <li><a href="@routes.Application.index()">Iho</a></li>
                <li><a href="@routes.Application.about()">About</a></li>
            </ul>
        </div>
      </div>
    </div>
    @content
      <!-- Load Bootstrap JavaScript components. -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
